body {
  background: #000000;
}

.monster {
  width: 455px;
  height: 455px;
  margin: 2% auto;
  background: url('le-cloud.jpg') left center;
  animation: play .8s steps(10) infinite;
}

@keyframes play {
	100% { background-position: -1900px; }
}